:root {
    --main: #453C67;
    --secondary: #6D67E4;
    --accent: #46C2CB;
    --button: #6D67E44D;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgrey;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main);
    position: sticky;
    top: 0;
}

header h1 {
    margin-left: 1rem;
    color: var(--accent);
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

nav {
    height: 5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

nav a {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    padding-right: 1.5rem;
    color: var(--accent);
}

nav a:hover {
    text-decoration: underline;
    color: var(--secondary);
}

.hero-banner div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero-banner div h2 {
    margin: 0 5rem 2.5rem 0;
    padding: 1rem;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    color: var(--accent);
    background-color: #6D67E499;
    border-radius: 3rem;
}

.hero-image {
    background-image: url("/images/banner-img2.jpg");
    background-size: cover;
    height: 20rem;
    width: 100%;
    background-repeat: no-repeat;
}


/* grid stuff */

.heading {
    color: var(--main);
    font-size: 5rem;
}

.s-heading {
    font-size: 3rem;
    color: var(--main);
    background-color: var(--accent);
    padding: 1.3rem 1.9rem;
    margin-bottom: 10%;
    text-decoration: underline;
}

.small-s-heading {
    font-size: 1rem;
    width: 12rem;
    height: 5rem;
    color: var(--main);
    background-color: var(--accent);
    padding: 1.3rem 1.9rem;
    margin-bottom: 10%;
    text-decoration: underline;
}

/* about grid */

#about-grid {
    margin: 20px 10% 10px 10%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-areas: " abt ab ab ";
}

#about-title {
    grid-area: abt;
    width: 280px;
    margin-right: 1rem;
    cursor: default;
    display: grid;
    justify-content: end;
    text-align: end;
    border-right: 0.5rem solid var(--main);
}

#about-title div {
    margin: 1rem 2rem;
}

#about-content {
    grid-area: ab;
    margin-left: 1rem;
    cursor: pointer;
    display: grid;
    text-align: left;
    align-items: center;
}

#about-content p {
    max-height: 100%;
    overflow: hidden;
    
}

/* work grid */

#work-grid {
    margin: 20px 10% 10px 10%;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-areas: " wkt wkh wkh "
                         " wkt wkh wkh"
                         " wkt wkp ph1"
                         " wkt ph2 ph3";
}

#work-title {
    grid-area: wkt;
    width: 280px;
    margin-right: 0.5rem;
    cursor: default;
    display: grid;
    justify-content: end;
    text-align: end;
    border-right: 0.5rem solid var(--main);
}

#work-title div {
    margin: 1rem 2rem;
}

.color {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-end;
}

.color:hover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

#work-hori {
    background-image: url("/images/horiseon-challenge1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: wkh;
    margin: 0 0 1rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border: 0.3rem solid var(--accent);
}

#work-prew {
    background-image: url("/images/prework-study-guide.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: wkp;
    margin: 0.5rem 0.5rem 1rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border: 0.3rem solid var(--accent);
}

#placeholder1 {
    background-image: url("/images/placeholder-img-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: ph1;
    margin: 0.5rem 0 1rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border: 0.3rem solid var(--accent);
}

#placeholder2 {
    background-image: url("/images/placeholder-img-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: ph2;
    margin: 0.5rem 0.5rem 0 1rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border: 0.3rem solid var(--accent);
}

#placeholder3 {
    background-image: url("/images/placeholder-img-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: ph3;
    margin: 0.5rem 0 0 1rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border: 0.3rem solid var(--accent);
}

/* contact me grid */



#contact-grid {
    margin: 20px 10% 10px 10%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: " cnt inu iem igh iln ";
}

@media screen and (max-width: 1024px) {
    #contact-grid {
        margin: 20px 10% 10px 10%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.5fr ;
        grid-template-areas: " cnt inu "
                             " cnt iem "
                             " cnt igh "
                             " cnt iln ";
    }
}

#contact-title {
    grid-area: cnt;
    /* height: 280px; */
    width: 280px;
    margin-right: 1rem;
    cursor: default;
    display: grid;
    justify-content: end;
    text-align: end;
    border-right: 0.5rem solid var(--main);
}

#contact-title div {
    margin: 1rem 2rem;
}

#contact-num {
    grid-area: inu;
    margin: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
    align-items: center;
}

#contact-num a {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: var(--main);
    background-color: var(--accent);
    padding: 2rem;
    border-radius: 4rem;
    width: 14rem;
    text-align: center;
}

#contact-num a:hover {
    border: 3px solid var(--main);
}

#contact-email {
    grid-area: iem;
    margin: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
    align-items: center;
}

#contact-email a {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: var(--main);
    background-color: var(--accent);
    padding: 2rem;
    border-radius: 4rem;
    width: 14rem;
    text-align: center;
}

#contact-email a:hover {
    border: 3px solid var(--main);
}

#contact-hub {
    grid-area: igh;
    margin: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
    align-items: center;
}

#contact-hub a {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: var(--main);
    background-color: var(--accent);
    padding: 2rem;
    border-radius: 4rem;
    width: 14rem;
    text-align: center;
}

#contact-hub a:hover {
    border: 3px solid var(--main);
}

#contact-linked {
    grid-area: iln;
    margin: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
    align-items: center;
}

#contact-linked a {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: var(--main);
    background-color: var(--accent);
    padding: 2rem;
    border-radius: 4rem;
    width: 14rem;
    text-align: center;
}

#contact-linked a:hover {
    border: 3px solid var(--main);
}