header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(113, 187, 252, 1);
    position: sticky;
    top: 0;
}

header h1 {
    margin-left: 1rem;
    color: blue;
    font-size: 4rem;
}

nav {
    margin-right: 1rem;
}

nav button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

nav button:hover {
    text-decoration: line-through;
}

.hero-banner div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero-banner div h2 {
    padding: 0 5rem 2.5rem 0;
    font-size: 4rem;
}

.hero-image {
    background-image: url("/images/gradient-banner.jpg");
    background-size: cover;
    height: 20rem;
    width: 100%;
    background-repeat: no-repeat;
}


/* grid stuff */

.heading {
    color: black;
    font-size: 5rem;
}

/* about grid */

#about-grid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " abt ab ab ";
}

#about-title {
    grid-area: abt;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    border-right: 5px solid #000000;
}

#about-content {
    grid-area: ab;
    margin: 5px;
    cursor: pointer;
    display: grid flex;
    align-content: end;
}


/* work grid */

#work-grid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " wkt wkh wkh "
                         " wkt wkh wkh"
                         " wkt wkp ph1"
                         " wkt ph2 ph3";
}

#work-title {
    grid-area: wkt;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    border-right: 5px solid #000000;
}

#work-hori {
    background-image: url("/images/horiseon-challenge1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: wkh;
    margin: 5px;
    cursor: pointer;
    display: grid flex;
    align-content: end;
}

#work-prew {
    background-image: url("/images/prework-study-guide.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: wkp;
    margin: 5px;
    cursor: pointer;
    display: grid flex;
    align-content: end;
}

#placeholder1 {
    background-image: url("/images/placeholder-img-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: ph1;
    margin: 5px;
    cursor: pointer;
    display: grid flex;
    align-content: end;
}

#placeholder2 {
    background-image: url("/images/placeholder-img-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: ph2;
    margin: 5px;
    cursor: pointer;
    display: grid flex;
    align-content: end;
}

#placeholder3 {
    background-image: url("/images/placeholder-img-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: ph3;
    margin: 5px;
    cursor: pointer;
    display: grid flex;
    align-content: end;
}